header
{ 
    background-color: white;
    height: 40px;
    width: 100%;
}
header img{
    height: 40px;
    width: auto;
    padding-top: 5px;
    padding-right: 620px;
}
header ul{
    display: flex;
    height: 40px;
    list-style-type: none;
}
header ul li a{
    text-decoration: none;
    color: black;
}
li a:hover{
    color: #e6005c;
}
li button a:hover{
    color: black;
}
header ul li{
    color: black;
    font-size: 17px;
    line-height: 50px;
    padding-left: 40px;
    font-weight: 500;
}
header ul li button{
    font-size: 15px;
    color: bisque;
    background-color: #e6005c;
    border-style: none;
    border-radius: 25px;
    padding: 10px;
    margin-top: 5px;
}
header ul li button a{

    color: white;
}

section{
    height: 700px;
    width: 100%;
}
section img{
    height: 700px;
    width: 100%;
    position:relative;
}

.h{
    top: 40%;
    left: 5%;
    height: 400px;
    width: 380px;
    position: absolute;
    

}
.heading{
    color: white;
    font-size: 52px;
    font-weight: 800;
    padding-bottom: 20px;
}
.h1{
    color: white;
    font-size: 22px;
    font-style: italic;
    padding-bottom: 20px;
}  
.h2 button{
    width: 150px;
    font-size: 15px;
    color: bisque;
    background-color: #e6005c;
    border-style: none;
    border-radius: 25px;
    padding: 10px;
    margin-top: 5px;
}
.h2 button a{
    text-decoration: none;
    color: white;
    
}
.h2 button a:hover{
    color: black;
}
.box{
    height: 550px;
    margin-left: 150px;
    background-color: white;

}
.c{
    width: 100%;
    display: flex; 
   
    
    
}
.c h2:hover{
    color: #e6005c;
}

.text1{
    padding: 60px;
    font-size: 42px;
    color: black;
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.c1{
    
   
    height: 420px;
    width: 28%;
    background-color: white ;
    box-shadow: 0px 8px 16px 0px;
    border-radius: 20px;
}

.c1 img{
    height: 200px;
    width: 379px;
}
.c1 h2{
    padding-left: 14px;
}
.c1 p{
    
    font-size: 16px;
    padding: 0px 2px 0px 14px ;
    
    
}
.c1 button{
    height: 40px;
    width: 100px;
    font-size: 18px;
    color: bisque;
    background-color: #e6005c;
    border-style: none;
    border-radius: 40px;
    font-weight: 800;
    
}
.c1 button a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.c1 button a:hover{
    color: black;
}
.s1{
    font-size: 18px;
    padding-top: 18px;
  
    color: #e6005c;
    font-weight: 700;
}
.s2{
   color: darkslategray;
   font-style: italic;
    font-size: 18px;
    padding-left: 40px;

}

.c2{
    height: 420px;
    width: 28%;
    background-color: white ;
    box-shadow: 0px 8px 16px 0px;
    border-radius: 20px;
    margin-left: 30px;
}
.c2 img{
    height: 200px;
    width: 379px;
}
.c2 h2{
    padding-left: 14px;
   

}
.c2 p{
    
    font-size: 16px;
    padding: 0px 2px 0px 14px ;
}
.c2 button{
    height: 40px;
    width: 100px;
    font-size: 18px;
    color: bisque;
    background-color: #e6005c;
    border-style: none;
    border-radius: 40px;
    font-weight: 800;
}
.c2 button a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.c2 button a:hover{
    color: black;
}
.c3{
    height: 420px;
    width: 28%;
    background-color: white ;
    box-shadow: 0px 8px 16px 0px;
    border-radius: 20px;
    margin-left: 30px;
}
.c3 img{
    height: 200px;
    width: 379px;
}
.c3 h2{
    padding-left: 14px;

}
.c3 p{
    
    font-size: 16px;
    padding: 0px 2px 0px 14px ;
}
.c3 button{
    height: 40px;
    width: 100px;
    font-size: 18px;
    color: bisque;
    background-color: #e6005c;
    border-style: none;
    border-radius: 40px;
    font-weight: 800;
    
}
.c3 button a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.c3 button a:hover{
    color: black;
}
.box2{
    height: 700px;
    width: 100%;
    background-color: #FCF8F9;
    display: flex;
    
}
.d1{
    height: 550px;
    width: 50%;
    
}
.d1 img{
    padding-top: 80px;
    padding-left: 30px;
    height: 100%;
    width: 100%;
    
}
.d2{
    padding-top: 100px;
    padding-left: 60px;
    height: 500px;
    width: 50%;
    
}
.d2 h1{
    font-size: 42px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}
.d2 h4{
    padding-top: 30px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    width: 80%;
}
.d2 p{
    padding-top: 20px;
    font-size: 20px;
    font-style: italic;
    width: 80%;
}
.d2 button{
    font-size: 16px;
    color: bisque;
    background-color: #e6005c;
    border-style: none;
    border-radius: 40px;
    padding: 10px;
    font-weight: 600;
    width: 150px;
    
}
.d2 button a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.d2 button a:hover{
    color: black;
}
.strip{
    height: auto;
    width: 100%;
    padding-bottom: 40px;
   
}
.strip img{
    height: auto;
    width: 100%;
}
.box3{
    height: 600px;
    margin-right: 40px;
    margin-left: 40px;
    background-color: rgb(255, 254, 254);
}
.box3 h1{
    padding-top: 40px;
    font-size: 48px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.box3 p{
    font-style: italic;
    font-size: 22px;
    padding-top: 15px;
    text-align: center;
    
}
.g{
    display: flex;
    height: 600px;
    width: 100%;
    background-color: white;
}
.g1{
    padding: 80px;
    height: 100%;
    width: 33.3%;
    
}
.g1 img{
    padding-top: 20px;
    padding-left: 110px;
    height: auto;
    width: auto;
}
.g1 h2{
    color: black;
    padding-right: 8px;
    padding-top: 0px;
    text-align: center;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}
.g1 h2:hover{
    color: #e6005c;
}
.g1 p{
    
   padding-top: 0px;
    font-size: 20px;
    font-style: italic;
    color: gray;


}
.g2{
    padding: 80px;
    height: 100%;
    width: 33.3%;
    
}
.g2 img{
    padding-top: 20px;
    padding-left: 110px;
    height: auto;
    width: auto;
}
.g2 h2{
    color: black;
    padding-right: 8px;
    padding-top: 0px;
    text-align: center;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}
.g2 h2:hover{
    color: #e6005c;
}
.g2 p{
    padding-top: 0px;
    font-size: 20px;
    font-style: italic;
    color: gray;


}
.g3{
    padding: 80px;
    height: 100%;
    width: 33.3%;
    
}
.g3 img{
    padding-top: 20px;
    padding-left: 110px;
    height: auto;
    width: auto;
}
.g3 h2{
    color: black;
    text-align: center;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}
.g3 h2:hover{
    color: #e6005c;
}
.g3 p{
    padding-top: 0px;
    font-size: 20px;
    font-style: italic;
    color: gray;
}
.box4{
    height: 450px;
    width: 100%;
    background-color: goldenrod
}
.p1{
    height: 450px;
    width: 100%;
    background-color: goldenrod

}
.p1 img{
    height: 100%;
    width: 100%;
    position: relative;
}
.p2{
    
    top: 422%;
    left: 62%;
    position: absolute;
    height: 350px;
    width: 35%;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    padding-left: 20px;
}
.p2 h1{
    padding-top: 20px;
    font-size: 32px;
    text-align: center;

}

.p2 p{
    padding-top: 10px;
    font-size: 20px;
    font-style: italic;
}
.p2 button{
    margin-top: 20px;
    font-size: 18px;
    width: 200px;
    height: 50px;
    color: bisque;
    background-color: #e6005c;
    border-style: none;
    border-radius: 40px;
    padding: 10px;
    font-weight: 800;
    
}
.p2 button a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.p2 button a:hover{
    color: black;
}
.box5{
padding-top: 40px;
padding-left: 110px;
    height: 400px; 
    display: flex;
}
.m1{
    padding-left: 30px;
    padding-right: 30px;
    height: 200px;
    width: 400px;
    
}
.m1 h1{
    padding-top: 10px;  
    font-size: 42px;
    font-family: 'Times New Roman', Times, serif;
}

.m1 p{
    padding-bottom: 20px;
    font-size: 20px;
    font-style: italic;
    
}
.m1 button a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.m1 button a:hover{
    color: black;
}
.m1 button {
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: #e6005c;
    color: white;
    width: 100px;
}
.m2{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    height: 450px;
    width: 33.3%;
    
}
.m2 img{
    height: 300px;
    width: 100%;
    
}
.m3{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    height: 450px;
    width: 33.3%;
    
}
.m3 img{
    height: 300px;
    width: 300px;
}
footer{
    
    position: relative;
    display: flex;
    height: 400px;
    width: 100%;
    background-color:#301A22;
    color:#fff;
}
.f1{
    padding-top: 60px;
    padding-left: 60px;
    height: 400px;
    width: 400px;
}
.f1 img{
    padding-left: 0px;
    height: auto;
    width: auto;
}
footer .icons{
    height: auto;
    width: 100%;
    word-spacing: 30px;
    padding-top: 30px;
    padding-left: 5px;
    font-size: 22px;
    padding-bottom: 0px;
}

.f1 p{
    font-size: 20px;
    font-style: italic;
    width: 300px;
}
.f2{
    padding-top: 60px;
    height: 90%;
    
    
}
.f2 h1{
    font-size: 24px;
    padding-left: 20px;
}
.f2 ul{
    list-style-type: none;
    text-align: center;
}
.f2 li{
    margin-right: 90px;
}
   
.f2 li a{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    
}
.f2 li,a{
    padding-bottom: 20px;
}
.f3{
    padding-bottom: 0px;
    padding-top: 50px;
    
    height: 90%;
    width: 20%;
}
.f3 h1{
    padding-top: 10px;
    font-size: 24px;
    padding-left: 30px;
}
.f3 ul{

    list-style-type: none;
}
.f3 li a{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}
.f3 li,a{
    padding-bottom: 20px;
}
.f4{
    padding-top: 60px;
    height: 90%;
    width: 30%;
}
.f4 h1{
    font-size: 24px;
}
.f4 p{
    font-size: 22px;
    font-style: italic;
}



